@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f5f1f1; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3rem;
  color: #d94e4e;
  font-weight: bold; }

.heading-primary {
  color: white; }
  .heading-primary--main {
    display: block;
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 3rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-family: "Satisfy", cursive;
    font-size: 8rem;
    font-weight: lighter;
    margin-bottom: 5rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  background-image: linear-gradient(to right, #ff6b6b, #d94e4e);
  -webkit-background-clip: text;
  transition: all 0.2s;
  color: transparent; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2.7rem;
  font-weight: 400;
  color: #6f6f6f; }

.paragraph {
  font-size: 2rem;
  font-weight: 300;
  color: #6f6f6f;
  line-height: 1.7; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.btn {
  text-decoration: none;
  background-color: #d94e4e;
  color: white;
  padding: 1.3rem 3.8rem;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  position: relative; }
  .btn--main {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }
    .btn--main::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      background-color: #d94e4e;
      transition: all 0.4s; }
    .btn--main:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.3); }

.btn-text {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #d94e4e;
  border-bottom: 1px solid #d94e4e;
  padding: 3px;
  transition: all 0.2s; }
  .btn-text:hover {
    background-color: #d94e4e;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

.card {
  perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  height: 50rem; }
  .card::after {
    content: "";
    display: table;
    clear: both; }
  .card__side {
    height: 50rem;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffac70, #c67f4b); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #08e4bc, #03a688); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #5ac8fc, #3483a8); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%); }
    .card__picture--1 {
      background-image: url(/assets/Plan-1.png); }
    .card__picture--2 {
      background-image: url(/assets/Plan-2.png); }
    .card__picture--3 {
      background-image: url(/assets/Plan-3.png); }
  .card__heading {
    font-size: 3rem;
    color: white;
    padding: 0 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: fit-content;
    margin-top: -3.6rem; }
    .card__heading--1 {
      background-color: #c67f4b; }
    .card__heading--2 {
      background-color: #03a688; }
    .card__heading--3 {
      background-color: #3483a8; }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        color: #6f6f6f;
        font-weight: 400;
        font-size: 1.6rem;
        padding: 1.2rem; }
    .card__details--highlight-1 {
      color: #c67f4b; }
    .card__details--highlight-2 {
      color: #03a688; }
    .card__details--highlight-3 {
      color: #3483a8; }
  .card__cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .card__price {
    color: white;
    text-align: center; }
    .card__price--only {
      font-size: 2rem;
      font-weight: 400; }
    .card__price--value {
      font-size: 6rem;
      font-weight: 600; }
  .card__btn {
    background-color: white; }
    .card__btn--1 {
      color: #c67f4b; }
    .card__btn--2 {
      color: #03a688; }
    .card__btn--3 {
      color: #3483a8; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 1rem;
    transition: all 0.3s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid #d94e4e;
      transform: scale(1.06) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.3);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  width: 70%;
  background-color: #f5f1f1;
  border-radius: 1rem;
  font-size: 1.3rem;
  padding: 2.8rem;
  text-align: center;
  transition: transform 0.3s; }
  .feature-box__icon {
    color: #d94e4e;
    font-size: 6rem;
    margin-bottom: 0.6rem; }
  .feature-box__title {
    font-family: "Satisfy", cursive;
    color: #d94e4e; }
  .feature-box__text {
    color: #6f6f6f;
    font-weight: 400;
    line-height: 2; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 100vh;
  background-image: url(../assets/Hero.png);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 5rem; }
  .header__logo {
    height: 6rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }

.section-about {
  padding: 25rem 0;
  margin-top: -13rem; }

.section-features {
  margin-top: -13rem;
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../assets/Features.png);
  background-size: cover;
  -webkit-clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%); }

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -13rem; }
