//COLORS
$color-primary: #d94e4e;
$color-primary-light: #ff6b6b;

$color-secondary: #4c8f4e;
$color-secondary-light: #8eb88f;

$color-brown: #c67f4b;
$color-brown-light: #ffac70;

$color-green: #03a688;
$color-green-light: #08e4bc;

$color-blue: #3483a8;
$color-blue-light: #5ac8fc;

$color-white: white;
$color-black: #000;

$color-background: #f5f1f1;

$color-gray: #6f6f6f;
$color-gray-light: #eee;

$color-light: #686868;

//CONTENT
$content-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT
$default-font: 2rem;
