//COLORS
$color-primary: #d94e4e;
$color-primary-light: #ff6b6b;

$color-white: white;
$color-black: #000;

$color-background: #f5f1f1;

$color-gray: #6f6f6f;

//CONTENT
$content-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font: 1.7rem;
