*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px; 9px/16px = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px; 8px/16px = 50%
  }
  @include respond(phone) {
    font-size: 30%;
  }
  @include respond(big-desk) {
    font-size: 75%; //1rem = 12, 12/16 = 75%
  }
}
body {
  box-sizing: border-box;
  background-color: $color-background;
  padding: 0;
}
