body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3rem;
  color: $color-primary;
  font-weight: bold;
}

.heading-primary {
  color: $color-white;

  &--main {
    display: block;
    font-weight: 300;
    font-size: 3.3rem;
    margin-bottom: 3rem;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  }
  &--sub {
    display: block;
    font-family: "Satisfy", cursive;
    font-size: 5.3rem;
    font-weight: lighter;
    margin-bottom: 5rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      font-size: 4.5rem;
    }
  }
}

.heading-secondary {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary
  );
  -webkit-background-clip: text;
  transition: all 0.2s;
  color: transparent;

  &:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  @include respond(tab-port) {
    padding: 0 2rem;
  }
}

.heading-tertiary {
  font-size: 2.7rem;
  font-weight: 400;
  color: $color-gray;
  text-transform: uppercase;
  text-align: left;
}

.paragraph {
  font-size: $default-font;
  font-weight: 300;
  color: $color-light;
  line-height: 1.7;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
