.section-about {
  padding: 25rem 0;
  margin-top: -13rem;
}
.section-features {
  margin-top: -13rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url(../assets/Features.png);
  background-size: cover;
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
}
.section-tours {
  padding: 25rem 0;
  margin-top: -13rem;
}
