.header {
  margin: 0;
  height: 100vh;
  background-image: url(../assets/Hero.png);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 5rem;
  }
  &__logo {
    height: 6rem;
  }
  &__text-box {
    @include absCenter;
    text-align: center;
    width: 100%;
  }
}
