.header {
  height: 100vh;
  background-image: url(../assets/Hero.png);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 5rem;
  }
  &__logo {
    height: 6rem;
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;

    transform: translate(-50%, -50%);
  }
}
